<div id="<%= dom_id categorium %>">
  <p>
    <strong>Descricao:</strong>
    <%= categorium.descricao %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= categorium.usuario_id %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= categorium.cor %>
  </p>

</div>
